@{
    ViewData["Title"] = "Home Page";
    var names = (List<string>)ViewData["names"];

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        @{
            foreach (var name in names)
            {
                <li>name</li>
            }
        }
    </ul>
</div>
